@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* body {
	font-family: "Lato", sans-serif;
	color: #333;
	line-height: 1.6;
	background-color: var(--primary-color);
	color: var(--light-color);
}

:root {
	--primary-color: #14274e;
	--secondary-color: #394867;
	--dark-color: #9ba4b4;
	--light-color: #f1f6f9;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	padding: 20px;
	margin: 10px;
	color: #333;
}

.icons {
	display: flex;
}
